table {
    border-collapse: collapse;
    width: 70%;
    font-size: 1.5em;
}
table,th,td {
    text-align: center;
    border: solid 2px black;
}

button {
    font-size: 1.5em;
    border-radius: 9999em;
    background-color: white;
    color: black;
    border: 2px solid  #10abff;
    transition-duration: 0.2s;
}

button:hover{
    background: linear-gradient(21deg, #10abff, #1beabd);
    color: white;
}

h1 {
    color: blue;
    font-family: Arial;
    text-align: center;
    padding: 3px;
}