.first-h2 {
    margin-block-start: 0px;
}

h1 {
    color: blue;
    font-family: Arial;
    text-align: center;

}

div {
    text-align: center;
    margin: auto;
}

span {
    display: inline-block;
    padding: 30px;
    border: 2px solid gray;
    margin: auto;
    border-radius: 5px;
}

input {
    position: relative;
    font-size: 1.5em;
    border: 3px solid #10abff;
    display: inline-block;
    border-radius: 9999em;
    color: black;
    cursor: pointer;
    text-align: center;
}

button {
    font-size: 1.5em;
    border-radius: 9999em;
    background-color: white;
    color: black;
    border: 2px solid  #10abff;
    transition-duration: 0.2s;
}

button:hover{
    background: linear-gradient(21deg, #10abff, #1beabd);
    color: white;
}